{% extends 'admin_templates/admin-base.html' %}
{% load static %}
{% load materializecss%}
{% block title %}update instructor{% endblock %}
{% block content %}



<main class="">
    
    <section class="profile-page">
        <br><br>
      
        <form action="" method="POST" enctype="multipart/form-data">
            
            {% csrf_token %}

            <div class="row">
                <div class="col m10 s10">
            
                    {{form|materializecss}}
                    
                 
                </div>
                
            </div>
            

            <button type="submit" class="waves-effect waves-light btn">Update</button>
    
            
            </form>
        
        
    </section>
 </main>

{% endblock %}
