{% extends 'admin_templates/admin-base.html' %}
{% load static %}
{% block title %}instructors Home page{% endblock %}
{% block content %}
<style>
  #table-links a{
    padding-left: 20px;
    
  }
 
</style>
<main class="">
  
    <section class="allsudents">
        <div class="row">
           <div class="col s12 m12">
             >> manager
           </div>
           {% for message in messages %}
        {% if message %}
            {{ message }}
        {% endif %}
        
    {% endfor %}
        </div>
         <div class="row">
            <div class="col s8 m8">
              <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for student.." title="Type in a name" autocomplete="off">
            </div>
            <div class="col s4 m4">
                  <div class="button-add-student center-align">
                    <a class="btn-floating waves-effect waves-light teal" href="{% url 'parach_dashboard:add_instructor' %}"><i class="fas fa-plus"></i></a>
                  </div>
            </div>
          </div>
         
      <div class="table col s12 m12">
        <div class="row">
          <div class="">
            
            <table class="" id="myTable">
              {% if instructors %}
              <thead>
                <tr>
                    <th>Name</th>
                    <th>gender</th>
                    <th>course</th>
                    <th>phone</th>
                    <th>Location</th>
                    <th class="left-align"> Update | Delete</th>
                </tr>
              </thead>
              {% endif %}
          
          {% for instructor in instructors %}
          <tbody class="pl-5">
                <tr>
                  <!-- <td></td> -->
                  
                  <td >{{instructor.firstname}}</td>
                  <td>{{instructor.gender}}</td>
                  <td>{{instructor.course.name}}</td>
                  <td>{{instructor.mobile_phone}}</td>
                  <td>{{instructor.branch.branch_name}}</td>
                  <td id="table-links">
                      
                              
                              <a href="{% url 'parach_dashboard:update_instructor' instructor.slug %}"><i class="fas fa-edit" style="color: #009688;"></i></a>
                              <a href="{% url 'parach_dashboard:delete_instructor' instructor.slug %}"><i class="fas fa-trash" style="color: coral;"></i></a>
                         
                  </td>
                </tr>
              </tbody>
              {% empty %}
              <h3 class="container">Sorry, No instructor added yet, <br> click the plus icon to begin</h3>
              {% endfor %}
         
              
            </table>
          </div>
        </div>
      </div>
                
    </section>
</main>
<script>
  function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");

    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }       
    }
  }
  </script>
{% endblock %}
