{% extends 'admin_templates/admin-base.html' %}
{% load static %}
{% block title %}Students Home page{% endblock %}
{% block content %}
<style>
  #table-links a{
    padding-left: 20px;
    
  }
 .phone{
  display: flex;
  margin-top: 13px;
  gap: 5px;
  color: #000;
 }
 .phone a{
  color: #000;
 }
 .message{
  margin-top: 20px;
  text-align: center;
 }
 .message p{
  padding: 20px 0px;
 }
 .clear{
  display: none;
 }
</style>
<main class="">
  
    <section class="allsudents">
        <div class="row">
           <div class="col s12 m12">
             >> manager
           </div>
           {% for message in messages %}
              {% if message %}
           <div class="teal col s12 m12 message" style="color: #fff">
            <p>
              
                  {{ message }}
             
            </p>
           </div>
           {% endif %}
              
           {% endfor %}
        </div>
         <div class="row">
            <div class="col s8 m8">
              <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for student.." title="Type in a name" autocomplete="off">
            </div>
            <div class="col s4 m4">
                  <div class="button-add-student center-align">
                    <a class="btn-floating waves-effect waves-light teal" href="{% url 'parach_dashboard:create_student' %}"><i class="fas fa-plus"></i></a>
                  </div>
            </div>
          </div>
         
      <div class="table col s12 m12">
        <div class="row">
          <div class="">
            <table class="" id="myTable">
              <thead>
                <tr>
                   
                    <th>photo</th>
                    <th>Name</th>
                    <th>gender</th>
                    <th>course</th>
                    <th>phone</th>
                    <th>Location</th>
                    <th class="left-align">View | Update | Delete</th>
                </tr>
              </thead>
          
          {% for student in students %}
          <tbody class="pl-5">
                <tr>
                  <!-- <td></td> -->
                  <td>
                    {% if student.profile_pic %}
                    <img src="{{student.profile_pic.url}}" alt="">
                    {% else %}
                      
                    <img src="{% static 'img/2.jpg' %}" alt="" class="" />
                    {% endif %}
                    </td>
                  <td >{{student.firstname}}</td>
                  <td>{{student.gender}}</td>
                  <td>{{student.course.name}}</td>
                  <td class="phone"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm90.7 96.7c9.7-2.6 19.9 2.3 23.7 11.6l20 48c3.4 8.2 1 17.6-5.8 23.2L168 231.7c16.6 35.2 45.1 63.7 80.3 80.3l20.2-24.7c5.6-6.8 15-9.2 23.2-5.8l48 20c9.3 3.9 14.2 14 11.6 23.7l-12 44C336.9 378 329 384 320 384C196.3 384 96 283.7 96 160c0-9 6-16.9 14.7-19.3l44-12z"/></svg><a href="tel:{{student.mobile_phone}}">{{student.mobile_phone}}</a></td>
                  <td>{{student.branch.branch_name}}</td>
                  <td id="table-links">
                      
                              <a href="{% url 'parach_dashboard:student_details' student.slug %}"><i class="fas fa-eye" style="color: #009688;"></i></a>
                              <a href="{% url 'parach_dashboard:student_updates' student.slug %}"><i class="fas fa-edit" style="color: #009688;"></i></a>
                              <a href="{% url 'parach_dashboard:student_delete' student.slug %}"><i class="fas fa-trash" style="color: coral;"></i></a>
                         
                  </td>
                </tr>
              </tbody>
              {% empty %}
              <h3 class="container">Sorry, No student added yet, <br> click the plus icon to begin</h3>
              {% endfor %}
            
         
              
            </table>
          </div>
        </div>
      </div>
                
    </section>
</main>
<script>
  function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");

    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }       
    }
  }

  setTimeout(()=>{
    const message = document.querySelector('.message')
    message.classList.add('clear')
  },5000)
  </script>
{% endblock %}
